<div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" bounds="map.bounds">
    	<ui-gmap-marker idKey="marker.id" coords="marker.coords" events="marker.events">
    		<ui-gmap-markers models="foodTrucks" coords="'self'" icon="'icon'"></ui-gmap-markers></ui-gmap-markers>
    </ui-gmap-google-map>
</div>